html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Microsoft Yahei;
}

* {
    box-sizing: border-box;
}

body {
    perspective: 800px;
    /* -webkit-app-region: drag; */
    -webkit-user-select: none;
}
::-webkit-input-placeholder {
    color: #ccc;
    font-size: 12px;
}
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="text"],
button,
textarea {
    -webkit-app-region: no-drag;
}

#container {
    /* left: 1px;
    top: 1px;
    right: 1px;
    bottom: 1px; */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    position: absolute;
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    /* border-radius: 10px; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.title_bar {
    height: 40px;
    line-height: 40px;
    /* font-weight: bold; */
    background-color: #ccc;
    /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

.title_bar_drag {
    flex: 1;
    width: 100%;
    height: 100%;
    text-align: left;
    text-indent: 10px;
}

.close {
    height: 40px;
    width: 40px;
    position: relative;
    /* border-top-right-radius: 10px; */
}

.close_btn {
    height: 25px;
    width: 25px;
}

.close:hover {
    background: #f00;
    cursor: pointer;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.qr_wrap {
    height: 300px;
    position: relative;
}

#links {
    flex: 1;
    height: 100%;
    background: #eee;
    overflow: auto;
}

#links p {
    cursor: pointer;
    color: #666;
}

#links p:hover {
    color: #333;
}

.current {
    color: #000 !important;
    font-weight: bold;
}
/* 发送文字 */
#text,
#qrtext {
    height: 60px;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    border-top: 1px solid #eee;
}
#content,
#qrcontent {
    width: 100%;
    flex: 1;
    height: 100%;
    resize: none;
    border: none;
    outline: none;
    background: transparent;
    font-family: Microsoft Yahei;
    border-right: 1px solid #eee;
}
#send,
#generate {
    width: 45px;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer {
    height: 40px;
    display: flex;
    flex-direction: row;
    padding: 8px 0;
    line-height: 24px;
    background-color: #ddd;
    cursor: pointer;
}

#dir {
    font-size: 10px;
}

#collection {
    height: 50px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

#collectImg {
    width: 30px;
    height: 30px;
    display: none;
}

#uncollectImg {
    width: 30px;
    height: 30px;
    display: block;
}

#collect {
    height: 30px;
    margin-top: 20px;
    width: 60px;
    line-height: 30px;
    text-align: center;
    background: #1296db;
    border-radius: 5px;
    color: #fff;
}

@keyframes collect {
    0%,
    100% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
}

.mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: -1;
}

.popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#remark {
    height: 80px;
    line-height: 30px;
    width: 250px;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid #1296db;
    resize: none;
    outline: none;
    font-family: Microsoft Yahei;
}

#open {
    display: flex;
    flex: 5;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#col {
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#remarkPopup {
    display: none;
}

#myCollectionPopup {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 10px 40px;
}

#myCollections {
    background: #e7e7e7;
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
    word-wrap: break-word;
    white-space: break-all;
}

#mine {
    flex: 3;
    padding: 0 5px;
    border-right: 1px solid #000;
}

.myCollection {
    background: #fff;
    position: relative;
    cursor: pointer;
    padding: 6px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: #fff;
}

.myCollection:last-child {
    border-bottom: none;
}

.title {
    color: #000;
    display: block;
    line-height: 28px;
    font-size: 20px;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
}

.time {
    color: #898989;
    display: block;
    line-height: 20px;
    font-size: 12px;
}

.content {
    color: #252525;
    display: block;
    line-height: 16px;
    font-size: 14px;
    margin: 10px 0;
}

.copy {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 10px;
    bottom: 10px;
}

.delete {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 40px;
    bottom: 10px;
}

.close_footer {
    height: 40px;
    line-height: 40px;
    color: #fff;
}

#updateInfo {
    flex: 1;
    font-size: 12px;
    text-align: left;
}

#update {
    height: 26px;
    display: flex;
    flex-direction: row;
    padding: 0 15px;
    background-color: #fff;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: none;
}

#updateCancel {
    width: 16px;
    height: 16px;
    background: #e7e7e7;
    border-radius: 8px;
    margin-left: 6px;
    position: relative;
    cursor: pointer;
}

.update_close {
    width: 10px;
    height: 10px;
}

#updateBtn {
    background: #1296db;
    color: #fff;
    border-radius: 3px;
    height: 18px;
    line-height: 18px;
    width: 60px;
    font-size: 12px;
    cursor: pointer;
}

.top_wrap {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.top_wrap:hover > #top {
    display: flex;
}

#top {
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.top_img {
    width: 14px;
    height: 14px;
    transform: rotate(-45deg);
}
